.containerPage {
    display: flex;
    font-family:"Consolas";
    flex-direction: row;
    justify-content: center;
  }

  .containerImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    margin-left: 1vw;
    width: 53vw;
    height: 88.5vh;
    border: 0.4vh solid black;
    border-radius: 15px;
    margin-top: 0.5vh;
    background-color:rgba(0, 0, 0, 0.253);
  }

  .pais{
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 7.5vh;
    color: black;
    font-weight: bolder;
  }

  .image {
    width: 60%;
    background-color: #0000007b;
    border-radius: 50px;
    margin-left: 1vh;
  }

  .containerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 38.9vh;
    background-color:rgba(0, 0, 0, 0.555);
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 1vh;
    padding-bottom: 4.5vh;
    margin-top:0.5vh;
    color: white;
    margin-right: 0.5vw;
  }

  .actcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12vw;
    height:17vh;
    background-color: rgba(0, 0, 0, 0.452);
    border: 0.4vh solid black;
    padding: 0.4vh;
    border-radius: 15px;
    align-items: center;
    color: white;
  }

.title{
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 6vh;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.text{
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  font-size: 2.5vh;
}

.textsub{
  text-transform: uppercase;
  margin-top: 0.5vh;
  margin-bottom: 0.3vh;
}

 .actividades{
     display: flex;
     flex-direction:row;
     justify-content: center;
     border-radius: 20px;
     flex-wrap: wrap;
     column-gap: 2vh;
     align-items: center;
     margin-top: 1vh;
 }

 .divLoading{
  font-size: 2vh;
 }