
.countries{
    font-family:"Consolas";
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(63, 62, 62, 0);
    transition: 0.3s;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: bold;
    color: black;
    cursor: pointer;
    width: 10vh;
    height: 15vh;;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(53, 52, 52);
    font-size: 2.5vh;
    cursor: pointer;
}