.select{
    width: 6vw;
    height: 5vh;
    margin-bottom: 0;
    font-family:"Consolas";
    border-radius: 10px;
    background-color: rgb(53, 52, 52);
    transition: 0.3s;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 2vh;
    cursor: pointer;
}

.select:hover{
    background-color: white;
}

.select:disabled{
    color: rgb(73, 73, 73);
    background-color: rgb(53, 52, 52);
    cursor:default;
}

.text {
    
    font-family:"Consolas";
    margin-bottom: 0px;
    color: rgb(241, 4, 4);
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 2.5vh;
}


